.home-personal-info {
  padding: 2rem 0;
}

.home-personal-info .info {
  margin: 2rem;
}

.home-personal-info .icon {
  margin: 3px 0;
  font-size: larger;
}

.contact-button Button {
  height: 45px;
}
