.home-personal-info {
  padding: 2rem 0;
}

.home-personal-info .info {
  margin: 2rem;
}

.home-personal-info .contact {
  margin: 2rem;
}

.home-personal-info .btn {
  margin-right: 8px;
}

.home-personal-info #home-profile-pic {
  width: 50%;
}
